@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --BackGround: hsl(207, 26%, 17%);
    --Text: hsl(0, 0%, 100%);
    --Element: hsl(209, 23%, 22%);
  }
  .LM {
    --BackGround: white;
    --Text: hsl(200, 15%, 8%);
    --Element: white;
    --shadow: hsl(0, 0%, 52%);
  }
}
