@font-face {
  font-family: "Rubic";
  src: url("./rubik-variablefont_wght-webfont.woff2");
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Rubic", sans-serif;
}
#root {
  height: 100%;
}
.virtuosogrid-wrap > div {
  top: auto !important;
  position: static !important;
}
.virtuoso-grid-list {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.virtuoso-grid-item {
  flex: 1 1 200px;
}
#virtuoso-scroller {
  background-color: blue;
}
